.messages-with-alerts-container {
    display: inline-block;
}

.messages-common-container {
    box-sizing: border-box;
    padding-right: 20px;
    font-size: 0.9em;
    font-family: Verdana,sans-serif;
    width: 80%;
}

.forum-alerts {
    position: fixed;
    float: right;
    height: 100%;
    width: 20%;
    right: 0;
    top: 70px;
    max-height: 100%;
    padding-right: 5px;
    padding-top: 5px;
}

.message-container {
    margin-left: 2.5em;
}

.message-text {
    display: block;
    font-size: 1.1em;
    word-wrap: break-word;
}

.message-user {
    font-size: 0.9em;
    display: inline-block;
    font-weight: bold;
}

.voting {
    float: right;
    height: 1.4em;
    margin-right: 0.5em;
}

.message-block {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.message-created-time {
    display: inline-block;
    font-size: .7em;
    font-style: italic;
}

.voting .rate {
    font-size: 1.2em;
    color: orange;
}

.voting .rated-by-user {
    color: red;
}

.message-respond:hover {
    text-decoration: underline;
}

.message-header {
    height: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.message-expand-btn {
    float: right;
    margin-right: .5em;
}

.message-expand-branch:hover {
    background: grey;
    color: white
}

.triangle-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.8em solid orange;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.8em solid orange;
}

.triangle-up:hover {
    border-bottom-color: yellow;
}

.triangle-up:active {
    border-bottom-color: black;
}

.triangle-down:hover {
    border-top-color: yellow;
}

.triangle-down:active {
    border-top-color: black;
}

.triangle-up-selected {
    border-bottom-color: red;
}

.triangle-down-selected {
    border-top-color: red;
}

.sign-advice-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25vh;
    background: lightgrey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.sign-advice-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: auto;
    flex-basis: 100%;
}